html {
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background: rgba(#f1d4d4, 0.6);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 0 8%;
  max-width: 1400px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: 600px;
}
